@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    background-color: #ffffff;
}

h1, h2, h3, h4, h5, h6 {
    @apply font-bold;
}

h1 {
    @apply text-2xl;
}

h2 {
    @apply text-xl;
}

h3 {
    @apply text-lg;
}

h4 {
    @apply text-base;
}

h5 {
    @apply text-sm;
}

h6 {
    @apply text-xs;
}

.header-color{
    @apply text-gray-700
}

.wrapper {
    @apply mx-auto;
    @apply px-28;
}

.small-wrapper {
    @apply mx-auto;
    @apply px-44;
}

.container {
    @apply m-0 min-w-full min-h-full p-0;
}

#summary-header::before{
    content: '';
    width: 96px;
    height: auto;
    background-color: red;
    display: block;
}

.react-tel-input .form-control{
    width: 100% !important;
}

.small-border {
   
    border-bottom:  1px solid #a9a8a8;
}