@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    background-color: #ffffff;
}

h1, h2, h3, h4, h5, h6 {
    @apply font-bold;
}

h1 {
    @apply text-2xl;
}

h2 {
    @apply text-xl;
}

h3 {
    @apply text-lg;
}

h4 {
    @apply text-base;
}

h5 {
    @apply text-sm;
}

h6 {
    @apply text-xs;
}

.header-color{
    @apply text-gray-700
}

.wrapper {
    @apply mx-auto;
    @apply px-28;
}

.small-wrapper {
    @apply mx-auto;
    @apply px-44;
}

.container {
    @apply m-0 min-w-full min-h-full p-0;
}

#summary-header::before{
    content: '';
    width: 96px;
    height: auto;
    background-color: red;
    display: block;
}

.react-tel-input .form-control{
    width: 100% !important;
}

.small-border {
   
    border-bottom:  1px solid #a9a8a8;
}

.progress-bar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 34px;
  }
  
  .step {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgb(34, 81, 209);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .step.completed {
    background-color: green;
    color: white;
  }

  .multi-step-form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .step-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .step-item {
    flex: 1;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    border-bottom: 2px solid #ddd;
  }
  
  .step-item.active {
    border-bottom: 2px solid #0070f3;
    font-weight: bold;
  }
  
  .step-content {
    margin-bottom: 20px;
  }
  
  .step-actions {
    display: flex;
    justify-content: space-between;
  }

  .swiper-button-next, .swiper-button-prev {
    position: unset;
  }
  
  .swiper-button-next::after, .swiper-button-prev::after, .swiper-button-next::before, .swiper-button-prev:before {
    content: unset;
  }

  .btn {
    
  }
  
  